.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: var(--space3XL) var(--spaceL);
  z-index: 16;
  position: relative;
  font-size: var(--fontSizeBodyS);
  color: var(--colorTextLight);
}

.footer__divider {
  width: 100%;
  height: 1px;
  background: rgb(var(--rgbText) / 0.08);
  margin-bottom: var(--space2XL);
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

.footer__date {
  padding-right: var(--spaceXS);
}
